In [1]:
import pandas as pd
from fredapi import Fred

In [2]:
# retrieves fred api environment variable from shell 
fred_key = !env | grep -i fred_api_key
fred_key = fred_key[0]
# removes identifier prefix and equals sign to isolate just the 
# key itself 
fred_key = fred_key[len("fred_api_key") + 1:]

In [3]:
fred = Fred(api_key=fred_key)
fred_key = None

In [28]:
def constructV(sName):
    vInfo = fred.get_series_info(sName)
    vSeries = fred.get_series(sName)
    vDF = pd.DataFrame(vSeries)
    vDF['date'] = pd.to_datetime(vDF.index)
    colName = vInfo.title.replace(" ", "_").lower()
    vDF[colName] = vDF[0]
    vDF = vDF.reset_index(drop = True)
    vDF = vDF.drop(columns = 0)
    return {'info': vInfo, 'series': vSeries, 'df': vDF}

In [29]:
shm = constructV("SAHMREALTIME")

In [30]:
shm['df']

          date  real-time_sahm_rule_recession_indicator
0   1959-12-01                                     0.77
1   1960-01-01                                     0.50
2   1960-02-01                                     0.13
3   1960-03-01                                     0.10
4   1960-04-01                                     0.03
..         ...                                      ...
724 2020-04-01                                     4.00
725 2020-05-01                                     7.27
726 2020-06-01                                     9.50
727 2020-07-01                                     8.00
728 2020-08-01                                     6.37

[729 rows x 2 columns]

In [4]:
shmInfo = fred.get_series_info("SAHMREALTIME")
schInfo = fred.get_series_info("CSUSHPISA")
reservesInfo = fred.get_series_info("TRESEGUSM052N")
gldInfo = fred.get_series_info("GOLDAMGBD228NLBM")

In [18]:
recPSeries = fred.get_series("SAHMREALTIME")
schSeries = fred.get_series("CSUSHPISA")
reservesSeries = fred.get_series("TRESEGUSM052N")
gldSeries = fred.get_series("GOLDAMGBD228NLBM")

In [21]:
reserves = pd.DataFrame(reservesSeries)
reserves['date'] = pd.to_datetime(reserves.index)

In [22]:
reservesColName = reservesInfo.title.replace(" ", "_").lower()
reserves[reservesColName] = reserves[0]

In [23]:
reserves = reserves.reset_index(drop = True)

In [25]:
reserves = reserves.drop(columns = 0)

In [27]:
reserves.describe()

       total_reserves_excluding_gold_for_united_states
count                                     7.700000e+02
mean                                      4.579984e+10
std                                       4.304250e+10
min                                       6.706000e+08
25%                                       3.761534e+09
50%                                       3.710565e+10
75%                                       6.740967e+10
max                                       1.420343e+11